.node_modules
.DS_Store
.env
package-lock.json
yarn-error.log
yarn.lock
coverage
dist
.vscode
.idea
*.iml
*.log
*.tsbuildinfo
*.tgz
*.zip
account_logs/
chrome_debug_profile/
screenshots/
chrome_temp_profile/
